In [ ]:
! pip3 install pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/e9/97/63740ed74af57e00f07fab6a9c6baa4a592d28d254c0f9877901ccb12d3d/pandas-1.0.3-cp38-cp38-macosx_10_9_x86_64.whl (10.2MB)
     |████████████████████████████████| 10.2MB 3.7MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: numpy>=1.13.3 in /Users/medamin/Library/Python/3.8/lib/python/site-packages (from pandas) (1.18.2)
Collecting pytz>=2017.2 (from pandas)

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder

ModuleNotFoundError: No module named 'pandas'

In [10]:
df=pd.read_csv("data/GD_Part2_clean.csv")

In [11]:
# I will keep them both here
# df=df[df.SUBM=="Math"]

In [12]:
df.keys()

Index(['Unnamed: 0', 'CPR_NO', 'SCH_NM', 'PROV_NM', 'SUBM', 'Teacher_Gender',
       'ACHIEVEMENTS1', 'ACHIEVEMENTS2', 'MIDTERM1', 'MIDTERM2', 'FINAL1',
       'FINAL2', 'TOTAL1', 'TOTAL2', 'D_MARK', 'NAT_MARK', 'GPA'],
      dtype='object')

In [13]:
df.drop(['TOTAL1','ACHIEVEMENTS2','MIDTERM2', 'FINAL2', 'TOTAL2', 'D_MARK', 'Unnamed: 0'], axis=1, inplace=True)

In [14]:
df.set_index("CPR_NO", inplace=True)

In [15]:
df=df[[ 'NAT_MARK', 'GPA','SCH_NM', 'PROV_NM', 'SUBM', 'Teacher_Gender', 'ACHIEVEMENTS1',
       'MIDTERM1', 'FINAL1']]

In [17]:
label_encoder = LabelEncoder()

for i in ['SCH_NM',  "SUBM"]:

    df[i] = label_encoder.fit_transform(df[i])

In [19]:
df.Teacher_Gender=((df.Teacher_Gender=="M")+0)

In [21]:
df.SUBM.unique()

array([1, 0])

In [22]:
df= pd.get_dummies(df, columns=["SCH_NM", "PROV_NM"])

In [23]:
# Already Done Above 
#df.insert(0, "Nat_Class" , df.pop("NAT_class") )
df.head()

,NAT_MARK,GPA,SUBM,Teacher_Gender,ACHIEVEMENTS1,MIDTERM1,FINAL1,SCH_NM_0,SCH_NM_1,SCH_NM_2,...,SCH_NM_93,SCH_NM_94,SCH_NM_95,SCH_NM_96,SCH_NM_97,SCH_NM_98,PROV_NM_Cap,PROV_NM_Muharaq,PROV_NM_North,PROV_NM_South
CPR_NO,,,,,,,,,,,,,,,,,,,,,
70913390,53.7,92.9,1,1,28.0,17.0,45.0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
71105956,49.7,89.5,1,1,27.0,14.0,41.5,1,0,0,...,0,0,0,0,0,0,1,0,0,0
70712190,52.1,86.2,1,1,27.0,13.0,27.5,1,0,0,...,0,0,0,0,0,0,1,0,0,0
70207496,52.9,89.9,1,1,26.0,15.0,44.0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
70507953,52.1,86.2,1,1,25.0,14.0,31.5,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [24]:
df.to_csv("data/aws_data_regression.csv", header=False, index=False)

In [43]:
! aws s3 ls s3://sec-students2016  --recursive

2020-02-17 10:50:29          0 cleaned-data/
2020-02-23 12:16:37     134842 cleaned-data/bstdata.csv
2020-02-17 10:51:48      78154 cleaned-data/df.csv
2020-02-19 14:03:33     860430 cleaned-data/df_merged.csv
2020-03-10 13:48:40    1063026 cleaned-data/encoded2016-10Mars.csv
2020-02-18 10:05:40     112487 cleaned-data/gpa_df.csv
2020-03-11 13:49:35      31976 cleaned-data/rawtest/test.csv
2020-03-11 13:49:35     224762 cleaned-data/rawtrain/train.csv
2020-03-11 13:49:35      64951 cleaned-data/rawvalidation/validation.csv
2020-02-18 09:06:55       4018 sagemaker/DEMO-linear-mnist/output/linear-learner-2020-02-18-06-02-01-753/output/model.tar.gz
2020-02-18 09:01:45  159200000 sagemaker/DEMO-linear-mnist/train/recordio-pb-data
2020-04-15 09:17:33    5901140 sam1610
2020-02-18 14:05:08          0 sam1610/
2020-04-14 14:28:35    2742565 sam1610/aws_data.csv
2020-02-18 17:29:22      17752 sam1610/model/xgboost-Students-v1-2020-02-18-14-25-40-858/output/model.tar.gz
2020-03-09 21:19:13      17753 sam1610/model/xgboost-Students-v1-2020-03-09-18-16-13-213/output/model.tar.gz
2020-04-13 13:02:30       3625 sam1610/output/linear-learner-2020-04-13-09-58-30-398/output/model.tar.gz
2020-03-09 21:13:56      31346 sam1610/train.csv
2020-04-13 11:45:52    4026960 sam1610/train/linear_train.data
2020-03-09 21:13:56       3929 sam1610/validation.csv
2020-04-13 11:45:53    1150492 sam1610/validation/linear_val.data
2020-02-17 13:09:06          0 train/
2020-02-18 11:05:15      31346 train/train.csv
2020-02-17 13:04:03          0 validation/
2020-02-18 11:05:15       3929 validation/validation.csv

In [42]:
! aws  s3  cp "data/aws_data_regression.csv"  s3://sec-students2016/sam1610

upload: data/aws_data_regression.csv to s3://sec-students2016/sam1610

In [143]:
# matrix=pd.read_csv("data/aws_data.csv", dtype='float32').values