In [2]:
import xgboost as xgb

ModuleNotFoundError: No module named 'xgboost'

In [1]:
from xgboost import XGBClassifier

ModuleNotFoundError: No module named 'xgboost'

In [10]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.compose import make_column_transformer, ColumnTransformer, TransformedTargetRegressor,make_column_selector
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV, cross_val_score, StratifiedKFold, train_test_split
from sklearn.feature_extraction.text import CountVectorizer

ModuleNotFoundError: No module named 'sklearn'

In [2]:
import pandas as pd
import numpy as np

df_infer=pd.read_csv("data/GD_infer.csv")

In [3]:
df_infer.sort_values("CPR_NO").head()

,Unnamed: 0,CPR_NO,SCH_NM,PROV_NM,SUBM,Teacher_Gender,ACHIEVEMENTS1,ACHIEVEMENTS2,MIDTERM1,MIDTERM2,FINAL1,FINAL2,TOTAL1,TOTAL2,D_MARK,NAT_MARK,GPA,GPA_class,NAT_class
14944,14954,20516916,مدرسة البسيتين الابتدائية للبنين,Muharaq,Math,M,30.0,30.0,20.0,20.0,40.0,39.0,90.0,89,90,52.9,93.250000,>90,<60
2858,2859,20516916,مدرسة البسيتين الابتدائية للبنين,Muharaq,Science,M,30.0,30.0,20.0,19.0,41.0,40.0,91.0,89,90,46.1,93.250000,>90,<60
12670,12679,20709315,مدرسة ابو بكر الصديق الابتدائية للبنين,Cap,Math,M,24.0,23.0,16.0,12.0,40.0,31.5,80.0,67,74,39.9,76.272727,70-80,<60
584,584,20709315,مدرسة ابو بكر الصديق الابتدائية للبنين,Cap,Science,M,24.0,26.0,14.0,9.0,23.5,12.5,62.0,48,55,44.2,76.272727,70-80,<60
23918,23936,20819269,مدرسة مريم بنت عمران الابتدائية للبنات,Muharaq,Math,F,30.0,30.0,20.0,19.5,41.5,41.5,92.0,91,92,58.9,95.416667,>90,<60

In [4]:
df_infer.set_index('CPR_NO', inplace=True)
# df_infer.index=df.CPR_NO
# df_infer=df_infer.drop(["Unnamed: 0" ], axis=1)

In [5]:
df_infer.SCH_NM.nunique()

99

In [6]:
df_infer.drop(['NAT_MARK','GPA','TOTAL1','ACHIEVEMENTS2','MIDTERM2', 'FINAL2', 'TOTAL2', 'D_MARK', 'Unnamed: 0'], axis=1, inplace=True)
# y=df_infer['NAT_class']

In [7]:
df_infer.head()

,SCH_NM,PROV_NM,SUBM,Teacher_Gender,ACHIEVEMENTS1,MIDTERM1,FINAL1,GPA_class,NAT_class
CPR_NO,,,,,,,,,
70913390,المعهد الديني الجعفري,Cap,Science,M,28.0,17.0,45.0,>90,<60
71105956,المعهد الديني الجعفري,Cap,Science,M,27.0,14.0,41.5,80-90,<60
70712190,المعهد الديني الجعفري,Cap,Science,M,27.0,13.0,27.5,80-90,<60
70207496,المعهد الديني الجعفري,Cap,Science,M,26.0,15.0,44.0,80-90,<60
70507953,المعهد الديني الجعفري,Cap,Science,M,25.0,14.0,31.5,80-90,<60

In [8]:
df_infer.keys()

Index(['SCH_NM', 'PROV_NM', 'SUBM', 'Teacher_Gender', 'ACHIEVEMENTS1',
       'MIDTERM1', 'FINAL1', 'GPA_class', 'NAT_class'],
      dtype='object')

In [9]:
label_encoder = LabelEncoder()

for i in ['SCH_NM','SUBM','Teacher_Gender','GPA_class','NAT_class' ]:

    df_infer[i] = label_encoder.fit_transform(df_infer[i])

In [10]:
df_infer.head()

,SCH_NM,PROV_NM,SUBM,Teacher_Gender,ACHIEVEMENTS1,MIDTERM1,FINAL1,GPA_class,NAT_class
CPR_NO,,,,,,,,,
70913390,0,Cap,1,1,28.0,17.0,45.0,4,3
71105956,0,Cap,1,1,27.0,14.0,41.5,2,3
70712190,0,Cap,1,1,27.0,13.0,27.5,2,3
70207496,0,Cap,1,1,26.0,15.0,44.0,2,3
70507953,0,Cap,1,1,25.0,14.0,31.5,2,3

In [11]:
df_infer=df_infer[['NAT_class','SCH_NM', 'PROV_NM', 'SUBM', 'Teacher_Gender', 'ACHIEVEMENTS1',
       'MIDTERM1', 'FINAL1', 'GPA_class']]

In [12]:
df_infer

,NAT_class,SCH_NM,PROV_NM,SUBM,Teacher_Gender,ACHIEVEMENTS1,MIDTERM1,FINAL1,GPA_class
CPR_NO,,,,,,,,,
70913390,3,0,Cap,1,1,28.0,17.0,45.0,4
71105956,3,0,Cap,1,1,27.0,14.0,41.5,2
70712190,3,0,Cap,1,1,27.0,13.0,27.5,2
70207496,3,0,Cap,1,1,26.0,15.0,44.0,2
70507953,3,0,Cap,1,1,25.0,14.0,31.5,2
...,...,...,...,...,...,...,...,...,...
70304602,0,98,South,0,1,30.0,20.0,47.0,4
71007423,3,98,South,0,1,30.0,17.0,17.0,2
70402183,3,98,South,0,1,26.0,12.0,24.0,2
70803196,3,98,South,0,1,28.0,18.0,37.0,2
70211361,3,98,South,0,1,29.0,14.0,16.0,2

In [ ]:
y=df_infer["NAT_class"]
X= df_infer.drop(['GPA_class', 'NAT_class'], axis=1)

In [ ]:
column_trans=make_column_transformer(
(OneHotEncoder(), ['PROV_NM', 'SCH_NM']),
(StandardScaler(), ['ACHIEVEMENTS1', 'MIDTERM1', 'FINAL1',]),
    remainder="passthrough"
    
)

In [ ]:
pipe=make_pipeline( column_trans, 
                  
                  XGBClassifier( objective="multi:softmax", seed=42, silent=True, 
                               nthread=-1))

In [ ]:
from scipy import stats as st

# A parameter grid for XGBoost


params_2 = {
    'xgbclassifier__n_estimators' :st.randint(100, 1000),
    'xgbclassifier__learning_rate' : st.uniform(0.01, 0.6), 
    'xgbclassifier__colsample_bytree': st.uniform(0.01, 0.9), 
    'xgbclassifier__max_depth': np.arange(3,8),
    'xgbclassifier__min_child_weight':[1,2,3,4],
    'xgbclassifier__max_depth':np.arange(3,8)
        }

In [ ]:
label_encoder.classes_
label_encoder.transform(["<60", ">90"])

array([3, 4])

In [ ]:

X_train,X_test,y_train, y_test=train_test_split(X,y , test_size=0.3,random_state=42,stratify = y, shuffle=True)
X_valid,X_test,y_valid, y_test=train_test_split(X_test,y_test , test_size=0.5,random_state=123)

In [ ]:
skf = StratifiedKFold(n_splits=5 ,shuffle = True, random_state = 42)

random_search = RandomizedSearchCV(pipe, param_distributions=params_2, scoring='f1_macro', n_jobs=-1, 
                                   cv=skf.split(X_train,y_train), verbose=3, random_state=42 )

# Here we go
#start_time = timer(None) # timing starts from this point for "start_time" variable
random_search.fit(X_train, y_train)
#timer(start_time) # timing ends here for "start_time" variable

Fitting 5 folds for each of 10 candidates, totalling 50 fits

/Users/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

In [ ]:
print('\n All results:')
print(random_search.cv_results_)
print('\n Best estimator:')
print(random_search.best_estimator_)
print('\n Best normalized gini score for %d-fold search with %d parameter combinations:' % (3, 5))
print(random_search.best_score_ * 2 - 1)
print('\n Best hyperparameters:')
print(random_search.best_params_)
results = pd.DataFrame(random_search.cv_results_)
results.to_csv('xgb-random-grid-search-results-01.csv', index=False)

In [ ]:
random_search.best_params_

# Data ingestion

In [ ]:
#  Boto3 instanciation 
s3=Boto3.resource('s3')
#  The s3 object
key= prefix + "filename.csv"

#Download the dataset to the notebook instance
s3.Bucket("bucket").download_file(key, "filename.csv")

In [ ]:
# read dataset
df=pd.read_csv("filename.csv")

# Data inspection

# Data conversion

In [ ]:
import io
import os
import boto3
import numpy as np
import sagemaker.amazon.common as smac


# vectors = np.array([t.tolist() for t in train_set[0]]).astype('float32')
# labels = np.where(np.array([t.tolist() for t in train_set[1]]) == 0, 1, 0).astype('float32')


buf = io.BytesIO()
smac.write_numpy_to_dense_tensor(buf, train_x.astype("float32"), labels.astype("float32"))
buf.seek(0)
boto3.resource('s3').Bucket(bucket).Object(prefix+"/train"+train_file).upload_fileobj(buf)
# boto3.resource('s3').Bucket(bucket).Object(os.path.join(prefix, 'train', key)).upload_fileobj(buf)

# Upload training data

In [ ]:
import boto3
import os

key = 'recordio-pb-data'
boto3.resource('s3').Bucket(bucket).Object(os.path.join(prefix, 'train', key)).upload_fileobj(buf)
s3_train_data = 's3://{}/{}/train/{}'.format(bucket, prefix, key)
print(f'uploaded training data location: {s3_train_data}')

# Training the linear model

In [ ]:
from sagemker.amazon.amazon_estimator import image_uri
container= get_image_uri(boto3.Session().region_name, "linear-learner")

train_d=f"s3://{bucket}/{prefix}/train"
valid_d=f"s3://{bucket}/{prefix}/validation"
s3_output_location=f"s3://{bucket}/{prefix}/xgboost_model_sdk"

# Set up hosting for the model

# Validate the model for use

# (Optional) Delete the Endpoint

In [16]:
# Test

In [50]:
import pandas as pd
# Write some example data
dt = pd.DataFrame({'names':['Al','Myke','Lovie','Dash'], 
                   'Grade': [6,7,6,6],
                   'Teacher':['Ogna','Hayes','Stoltz','Edens'],
                   'Score':['A+','A-','B','C'],
                   'Room':['Green','Red','Blue','Yellow'],
                   'Hobby':['Coins','Stamps','Coins','Cards']})
dt.head()

   names  Grade Teacher Score    Room   Hobby
0     Al      6    Ogna    A+   Green   Coins
1   Myke      7   Hayes    A-     Red  Stamps
2  Lovie      6  Stoltz     B    Blue   Coins
3   Dash      6   Edens     C  Yellow   Cards

In [51]:
# Reset DataFrame with columns in desired order
dt = dt[['names','Score','Room','Grade','Teacher','Hobby']]

In [52]:
dt.head()

   names Score    Room  Grade Teacher   Hobby
0     Al    A+   Green      6    Ogna   Coins
1   Myke    A-     Red      7   Hayes  Stamps
2  Lovie     B    Blue      6  Stoltz   Coins
3   Dash     C  Yellow      6   Edens   Cards

In [41]:
dt.drop('Hobby', axis=1, inplace = True)
dt.insert(1, 'Hobby', df['Hobby'])
dt

   names   Hobby Score    Room  Grade Teacher
0     Al   Coins    A+   Green      6    Ogna
1   Myke  Stamps    A-     Red      7   Hayes
2  Lovie   Coins     B    Blue      6  Stoltz
3   Dash   Cards     C  Yellow      6   Edens