In [35]:
import pandas as pd
#features=pd.read_csv("https://bit.ly/2vcHGgs")
# Read in data as pandas dataframe and display first 5 rows
original_features = pd.read_csv("https://bit.ly/2vcHGgs")
original_features.head()

,year,month,day,weekday,ws_1,prcp_1,snwd_1,temp_2,temp_1,average,actual,friend
0,2011,1,1,Sat,4.92,0.00,0,36,37,45.6,40,40
1,2011,1,2,Sun,5.37,0.00,0,37,40,45.7,39,50
2,2011,1,3,Mon,6.26,0.00,0,40,39,45.8,42,42
3,2011,1,4,Tues,5.59,0.00,0,39,42,45.9,38,59
4,2011,1,5,Wed,3.80,0.03,0,42,38,46.0,45,39

In [36]:
original_features = pd.get_dummies(original_features)

In [38]:
original_features.head()

,year,month,day,ws_1,prcp_1,snwd_1,temp_2,temp_1,average,actual,friend,weekday_Fri,weekday_Mon,weekday_Sat,weekday_Sun,weekday_Thurs,weekday_Tues,weekday_Wed
0,2011,1,1,4.92,0.00,0,36,37,45.6,40,40,0,0,1,0,0,0,0
1,2011,1,2,5.37,0.00,0,37,40,45.7,39,50,0,0,0,1,0,0,0
2,2011,1,3,6.26,0.00,0,40,39,45.8,42,42,0,1,0,0,0,0,0
3,2011,1,4,5.59,0.00,0,39,42,45.9,38,59,0,0,0,0,0,1,0
4,2011,1,5,3.80,0.03,0,42,38,46.0,45,39,0,0,0,0,0,0,1

In [39]:
import numpy as np

# Labels are the values we want to predict                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
original_labels = np.array(original_features['actual'])

# Remove the labels from the features
# axis 1 refers to the columns
original_features= original_features.drop('actual', axis = 1)

In [40]:
# Saving feature names for later use
original_feature_list = list(original_features.columns)
# Convert to numpy array
original_features = np.array(original_features)

In [41]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
original_train_features, original_test_features, original_train_labels, original_test_labels = \
train_test_split(original_features, original_labels, test_size = 0.25, random_state = 42)

In [42]:

# The baseline predictions are the historical averages
baseline_preds = original_test_features[:, original_feature_list.index('average')]

# Baseline errors, and display average baseline error
baseline_errors = abs(baseline_preds - original_test_labels)
print('Average baseline error: ', round(np.mean(baseline_errors), 2), 'degrees.')

Average baseline error:  4.76 degrees.

In [43]:
 original_feature_list.index('average')

8

In [44]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor

In [45]:
# Instantiate model 
rf = RandomForestRegressor(n_estimators= 1000, random_state=42)

In [46]:
rf.fit(original_train_features, original_train_labels)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [47]:
# Use the forest's predict method on the test data
predictions = rf.predict(original_test_features)

In [48]:
# Calculate the absolute errors
errors = abs(predictions - original_test_labels)

In [49]:
# Print out the mean absolute error (mae)
print('Average model error:', round(np.mean(errors), 2), 'degrees.')

Average model error: 3.7 degrees.

In [50]:

# Compare to baseline
improvement_baseline = 100 * abs(np.mean(errors) - np.mean(baseline_errors)) / np.mean(baseline_errors)
print('Improvement over baseline:', round(improvement_baseline, 2), '%.')

Improvement over baseline: 22.23 %.

In [51]:
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / original_test_labels)

In [52]:
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 93.74 %.

In [ ]:
features.head()

In [ ]:
print("we have {} days of data with {} variables ".format(*features.shape))

In [ ]:
round(features.describe().T, 2)

In [ ]:
import datetime
# Get days, months and years
years=features['year']
months=features['month']
days=features['day']

In [ ]:
#lsit and convert to dateTime Object
dates=[str(int(year)) + '-' + str(month)+'-'+ str(int(day)) for year, month, day in zip(years, months, days)]
dates=[datetime.datetime.strptime(date, '%Y-%m-%d') for date in dates]
dates[1:5]

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use("fivethirtyeight")

In [ ]:
fig, ((ax1, ax2),(ax3,ax4))=plt.subplots(nrows=2, ncols=2, figsize=(15,10))
fig.autofmt_xdate(rotation=45)
ax1.plot(dates, features['actual'])

ax2.plot(dates, features['temp_1'])
ax3.plot(dates, features['temp_2'])
ax4.plot(dates, features['friend'])

In [ ]:
fig, ((ax1, ax2),(ax3,ax4))=plt.subplots(nrows=2, ncols=2, figsize=(15,10))
fig.autofmt_xdate(rotation=45)
ax1.plot(dates, features['average'])

ax2.plot(dates, features['ws_1'], 'r-')
ax3.plot(dates, features['prcp_1'], 'r-')
ax4.plot(dates, features['snwd_1'],'ro')
plt.tight_layout(pad=2)

In [ ]:
dir(sns)

In [ ]:
len(dates)

In [ ]:
features.shape

In [ ]:
reduced_features=features

In [ ]:
# create columns of season for pair plotting colors 
for month in reduced_features['month']:
    if month in [1,2,12]:
        reduced_features['season']='winter'
    elif month in [3,4,5]:
        reduced_features['season']='spring'
    elif month in [6,7,8]:
        reduced_features['season']='summer'
    elif month in [9, 10, 11]:
        reduced_features['season']="fall"

In [ ]:
# will use only 6 variables fo rplotting pairs.
reduced_features= features[["season", 'temp_1', 'prcp_1', "ws_1", "average", "friend", "actual"]]

In [ ]:
features.keys()

In [ ]:
reduced_features.shape

In [ ]:
#use seaborn for pair plots
import seaborn as sns
sns.set(style="ticks", color_codes=True)

# creta a custon color palette
palette=sns.xkcd_palette(['dark blue', 'dark green', 'gold', 'orange'])

#Make the pair plot with a some aeasthetic changes
sns.pairplot(reduced_features, hue="season", diag_kind="kde", palette=palette, plot_kws=dict(alpha=0.7), diag_kws=dict(shade=True))

In [ ]:
features=pd.get_dummies(features)
lables=features['actual']
features=features.drop('actual', axis=1)

In [ ]:
import numpy as np 
features_list=list(features.columns)
features=np.array(features)
labels=np.array(lables)

In [ ]:
#training and  testing lables
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(features, labels, test_size=0.25, random_state=42)

In [ ]:
type(features)

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
#find origiak feature indices
original_features_indices=[features_list.index(feature) for feature in features_list if feature not in ['WS_1', 'prcp_1', 'snwd_1']]
#create a test set of the original features
original_test_features=X_test[:, original_features_indices]

In [ ]:
# Make predictions on test data using the nodel trained on original data
prediction=rf